.searchBarContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchResults {
    position: absolute; 
    z-index: 1; 
    width: 100%;
    background-color: #fff;  
    border: 1px solid #ccc; 
    border-radius: 5px;  

}
.search-container {
    position: relative;
    width: 100%;
  }
  
  #clearIcon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
  }
  
  .form-control:focus + #clearIcon {
    color: #212529;
  }
  .userDetailCard{
    padding: 5px;
  }