@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');


.custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    cursor: pointer;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
  }
  
  .custom-table tr.active {
    background-color: #ddd;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
  }
  
  .accordion-content.open {
    display: block;
  }


  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    background: #252525;
  }
  
.search_bar {
    position: relative;
    margin-top: -30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
  }
  
  .search_bar .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: crimson;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  }
  
  .search_bar .search:hover {
    cursor: pointer;
  }
  
  .search_bar .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all .5s;
  }
  
  .search_bar .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all .5s;
  }
  
  .search_bar input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: crimson;
    color: white;
    text-shadow: 0 0 10px crimson;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    /* box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2); */
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
  }
  
  .search_bar input:hover {
    cursor: pointer;
  }
  
  .search_bar input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
  }
  
  .search_bar input:focus ~ .search {
    right: -250px;
    background: #151515;
    z-index: 6;
  }
  
  .search_bar input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
  }
  
  .search_bar input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
  }
  
  .search_bar input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
  }
