.ellipsis-1-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    padding: 0px;
  }
  /* .rti--container{
    width: '100%' !important;
  } */
