.ellipsis-1-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  padding: 0px;
}

/* .rti--container{
    width: '100%' !important;
  } */
.swal2-container {
  z-index: 100000 !important;
}

.MuiTooltip-popperc {
  /* display: none; */
  position: relative !important;
  z-index: 1300 !important;     /* Ensures it stays above other elements */
  pointer-events: none !important;         /* Optional: prevents blocking mouse events */
  margin-left: 10px !important;            /* Optional: adjust space when on the right */
  width: 100px !important;            /* Optional: adjust width */
}

.popover{
  z-index: 1600 !important;
}