.chat_main_row_container {
    height: 78vh;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0px;
}

.chat-list-left-sidebar,
.chat-list-right-sidebar {
    height: 100%;
}

.chat-lists {
    height: 86%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.search-resutls-open::-webkit-scrollbar,
.search-resutls-close::-webkit-scrollbar,
.chat-message-messages-open::-webkit-scrollbar,
.chat-message-messages-close::-webkit-scrollbar,
.chat-message-messages::-webkit-scrollbar,
.chat-lists::-webkit-scrollbar {
    width: 2px;
}

.search-resutls-open::-webkit-scrollbar,
.search-resutls-close::-webkit-scrollbar,
.chat-message-messages-open::-webkit-scrollbar,
.chat-message-messages-close::-webkit-scrollbar,
.chat-message-messages::-webkit-scrollbar-track,
.chat-lists::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.search-resutls-open::-webkit-scrollbar,
.search-resutls-close::-webkit-scrollbar,
.chat-message-messages-open::-webkit-scrollbar,
.chat-message-messages-close::-webkit-scrollbar,
.chat-message-messages::-webkit-scrollbar-thumb,
.chat-lists::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    padding-left: 10px;
}

.chat-lists-note {
    font-size: 12px;
    padding: 0px 30px;
    text-align: center;
    margin-top: 10px;
}

.chat-search-input-main {
    height: 9%;
    background-color: white;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    font-size: 14px;
    margin: 10px 0px 10px 0px;
    width: 100%;
    padding: 0px 15px 0px 0px;
    border-radius: 8px;
}

.chat-search-input {
    all: unset;
    border: none;
    width: 85%;
    padding: 10px 15px 10px 15px;
    background-color: transparent;
    outline: none;
    font-size: 12px;
}

.chat-search-input-main-icon:hover {
    cursor: pointer;
    color: red;
    transition: .2s ease all;
}

.chat-variants button {
    all: unset;
    font-size: 12px;
    border: 1px solid black;
}

.chat-variants::-webkit-scrollbar {
    display: none;
}

.chat-head {
    display: grid;
    grid-template-areas:
        'chat-avatar chat-name chat-notify'
        'chat-avatar chat-created-date chat-created-date'
        'chat-avatar reading-admins reading-admins'
    ;
    justify-content: start;
    align-items: center;
    align-content: center;
    column-gap: 10px;
    margin: 0px 0px 10px 0px;
    background-color: white;
    border-radius: 8px;
    padding: 15px 20px 15px 15px;
    width: 98%;
}

.chat-head:hover {
    cursor: pointer;
    background-color: lightgray;
    transition: .5s ease all;
}

.chat-head .lazy-load-image-background {
    margin: auto;
    grid-area: chat-avatar;
}

.chat-avatar {
    height: 35px;
    width: 35px;
}

.chat-name {
    grid-area: chat-name;
    font-size: 12px;
    margin: 0px 0px 2px 0px;
    padding: 0px;
}

.chat-created-date {
    grid-area: chat-created-date;
    font-size: 10px;
    margin: 0px;
    line-height: 15px;
    padding: 0px;
}

.active-admins {
    grid-area: active-admins;
    font-size: 10px;
    margin: 0px;
    line-height: 15px;
    padding: 0px;
}

.reading-admins {
    grid-area: reading-admins;
    display: flex;
    padding: 0px;
    gap: 5px;
    margin: 4px 0px 0px 0px;
    width: 100%;
    overflow: scroll;
}

.reading-admins::-webkit-scrollbar {
    display: none;
}

.reading-admins .chat-admin {
    padding: 2px;
    margin: 0px;
    font-size: 8px;
    border-radius: 50%;
    color: green
}

.reading-admins .read-admin {
    padding: 2px;
    margin: 0px;
    font-size: 8px;
    border-radius: 50%;
    color: red;
    margin: 0px;
}

.reading-admins span {
    padding: 2px;
    margin: 0px;
    font-size: 8px;
    border-radius: 50%;
    color: black;
    margin: 0px;
}

.included-admins {
    grid-area: included-admins;
}





.chat-details-content {
    height: 100%;
    border: 1px solid black;
}

.chat-not-open-screen {
    background-color: white;
    border-radius: 8px;
    margin: 10px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 150px;
    text-align: center;
}

.chat-details-head {
    height: 11%;
    background-color: #041d24;
    border-radius: 8px;
    margin: 10px 0px;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 20px;
}

.search-bar-open {
    display: flex;
    align-items: center;
    transition: .5s ease all;
    border: 1px solid lightgray;
    padding: 7px 14px;
    border-radius: 4px;
    margin: 0px 10px 0px auto;
    animation: openSearchBar .5s forwards;
}

.search-bar-close {
    display: none;
}

@keyframes openSearchBar {
    0% {
        width: 10px;
        overflow: hidden;
        opacity: .1;
    }

    100% {
        width: 25%;
        overflow: hidden;
        opacity: 1;
    }
}

.search-bar-open input {
    all: unset;
    width: 100%;
    font-size: 12px;
    padding: 0px 20px 0px 0px;
}


.chat-details-head .lazy-load-image-background {
    margin: auto 10px auto 5px;
}

.chat-details-head-avatar {
    width: 40px;
    height: 40px;
}

.chat-details-head-name {
    margin: 0px;
    padding: 0px;
    line-height: 16px;
    font-size: 16px;
    color: white;
}

.chat-details-head-related-with {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    line-height: 10px;
    color: white;
}

.chat-more-items {
    display: flex;
    gap: 15px;
}

.chat-details-main-content {
    height: 84%;
    margin: 0px;
    background-color: #e3e8ec;
    border-radius: 8px;
    padding: 10px 0px 0px 0px;
    padding-bottom: 10px;
    padding: 10px;
}

.chat-content {
    display: flex;
    align-content: center;
    height: 85%;
    margin: 0px 10px;
    gap: 10px;
}

.chat-message-messages {
    padding: 5px 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-message-messages-open {
    animation: animationOpenSearchresults .6s ease forwards;
    overflow-x: hidden;
    overflow-y: scroll;
}

@keyframes animationOpenSearchresults {
    0% {
        width: 100%;
    }

    100% {
        border-right: 1px solid gray;
        width: 75%;
    }
}

.chat-message-messages-close {
    animation: animationCloseSearchresults .6s ease forwards;
    overflow-x: hidden;
    overflow-y: scroll;
}

@keyframes animationCloseSearchresults {
    0% {
        width: 75%;
    }

    100% {
        width: 100%;
    }
}

.search-resutls-open {
    width: 25%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.search-resutls-close {
    width: 0%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
}

.chat-message-input {
    height: auto;
    display: flex;
    gap: 0px;
    margin: 10px 10px 10px 10px;
    align-items: center;
    background-color: transparent;
    /* border-radius: 8px; */
    /* border: 2px solid lightgray; */

    border-top: 1px solid #dadada;
    margin-bottom: 20px !important;
    padding-top: 2px;
}


.chat-message-input-icon {
    width: 40px;
    text-align: center;
    color: white;
    padding: 0px;
}

.chat-message-input-icon-send {
    position: relative;
    left: -40px;
    color: black;
}

.chat-message-input-form {
    /* all: unset; */
    width: 100%;
    background-color: white;
    margin: 0px;
    border: none;
    height: 20px;
    font-size: 12px;
    padding: 12px 10px;
    caret-color: red;
    border-radius: 8px;
}

.textingsfhvflhsjdbx .more-items {
    display: none;
}

.textingsfhvflhsjdbx:hover .more-items {
    display: block;
    background-color: white;
    width: fit-content;
    margin-left: auto;
    padding: 5px 0px;
    animation: testinganidbuvfh .5s ease forwards;
}

@keyframes testinganidbuvfh {
    0% {
        height: 0px;
        opacity: .1;
        position: relative;
        right: 0px;
        top: -10px;
        bottom: -20px;
        right: 10px;
    }

    100% {
        height: 30px;
        opacity: 1;
        position: relative;
        right: 0px;
        top: 10px;
        bottom: 20px;
        right: 10px;
        margin-top: -15px;
        border-radius: 0px 0px 10px 10px;
        cursor: pointer;
    }
}

.chat-message-messages-open .chat-notice,
.chat-message-messages-close .chat-notice {
    width: 100%;
    text-align: center;
    font-size: 10px;
}

.chat-content-admin {
    display: grid;
    grid-template-areas:
        'chat-content-text chat-content-image'
        'chat-content-personname chat-content-image'
        'chat-content-time chat-content-image'
    ;
    align-items: start;
    justify-content: end;
    width: fit-content;
    margin: 0px 10px 10px auto;
    background-color: rgba(211, 211, 211, 0.3);
    padding: 10px 20px 10px 30px;
    border-radius: 8px 8px 8px 40px;
    gap: 0px;
    min-width: auto;
    max-width: 80%;
    background-color: #004e64;
    color: white;
}

.chat-content-customer {
    display: grid;
    grid-template-areas:
        'chat-content-image chat-content-text'
        'chat-content-image chat-content-personname'
        'chat-content-image chat-content-time'
    ;
    text-align: start;
    align-items: start;
    justify-content: start;
    width: fit-content;
    margin: 0px auto 10px 0px;
    background-color: rgba(211, 211, 211, 0.3);
    padding: 10px 20px 10px 30px;
    border-radius: 8px 8px 40px 8px;
    gap: 0px;
    min-width: auto;
    max-width: 80%;

    background-color: white;
}

.chat-content-admin.lazy-load-image-background,
.chat-content-customer.lazy-load-image-background {
    grid-area: chat-content-image;
    margin: auto;
}

.chat-content-image {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: contain;
}

.chat-content-admin .chat-content-image {
    margin: auto 0px auto 10px;
}

.chat-content-customer .chat-content-image {
    margin: auto 10px auto 0px;
}

.chat-content-text {
    grid-area: chat-content-text;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    white-space: pre-wrap;
}

.chat-content-admin .chat-content-text,
.chat-content-admin .chat-content-time,
.chat-content-admin .chat-content-personname {
    text-align: left;
    color: white;
}

.chat-content-customer .chat-content-text,
.chat-content-customer .chat-content-time,
.chat-content-customer .chat-content-personname {
    text-align: left;
}

.chat-content-personname {
    grid-area: chat-content-personname;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    line-height: 18px;
}

.chat-content-time {
    grid-area: chat-content-time;
    padding: 0px;
    margin: 3px 0px 0px 0px;
    font-size: 10px;
    color: gray;
}

.filter-types {
    display: flex;
    align-items: center;
    margin: 0px 10px 10px 0px;
    padding: 6px 10px;
    font-size: 12px;
    gap: 5px;
    background-color: lavender;
    border-radius: 8px;
}


.filter-open {
    transition: .5s ease-in;
    height: auto;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    overflow: hidden;
}


.filter-close {
    transition: .5s ease-in;
    overflow: hidden;
    height: 0px;
}

.filter-open p {
    font-size: 14px;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

.filter-types label {
    line-height: 12px;
    margin-top: 1px;
}

.chat-notify {
    margin: 0px;
    grid-area: chat-notify;
    padding: 0px;
    position: relative;
    top: 0px;
}

.clipBoard-status {
    position: absolute;
    margin-top: -65px;
    font-size: 10px;
    background-color: lightgray;
    border-radius: 20px;
    padding: 5px 10px;
    text-transform: capitalize;
}

.chatWise-heading {
    font-size: 12px;
    text-transform: capitalize;
    margin: 5px;
}




.chat-suggestions-modal {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
}

.chat-suggestion-item {
    padding: 4px;
    cursor: pointer;
    color: #333;
}

.chat-suggestion-item:hover {
    background-color: #eee;
}